@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*font-family: 'Poppins', sans-serif;
font-family: 'Noticia Text', serif;
colors: #F2F1F0 #5C468C
 */
body {
  padding: 2px;
  scrollbar-width: thin;
  scrollbar-color: #B2B2B2; }
  body header {
    background-color: #20262E;
    width: 100%;
    height: 100%;
    padding: 2px; }
    body header .grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "logo . . nav nav nav";
      width: 100%;
      height: 100%; }
      body header .grid .logo {
        grid-area: logo;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 4px; }
    body header .nav {
      display: grid;
      grid-area: nav;
      align-items: end;
      font-size: 23px;
      flex-wrap: wrap; }
      body header .nav ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        padding: 10px; }
        body header .nav ul li {
          text-decoration: none;
          color: white; }
          body header .nav ul li img {
            background-color: #F2F1F0;
            border-radius: 30%;
            padding: 5px;
            width: 40px;
            height: 40px; }
        body header .nav ul a {
          text-decoration: none;
          color: #F2F1F0;
          padding: 5px;
          border-radius: 35%; }
          body header .nav ul a img:hover {
            background-color: #E9D5DA;
            border-radius: 30%;
            padding: 5px; }

body::-webkit-scrollbar {
  width: 7px; }

body::-webkit-scrollbar-thumb {
  background-color: #B2B2B2;
  border-radius: 20px; }

main h1 {
  font-family: "Noticia Text", serif;
  font-size: 60px;
  display: flex;
  justify-content: center;
  text-align: center; }

main p {
  font-family: "Poppins", sans-serif;
  text-align: center; }

main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-align: justify;
  padding: 2px; }

.grid-main {
  width: 100%;
  height: 100%;
  background-image: url("../assets/imagenes/white-wall.jpg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "rainbow rainbow rainbow rainbow rainbow rainbow rainbow"  ".  . sec1 sec1 sec1 . ." "sec2 sec2 sec2 sec2 sec2 sec2 sec2" ". sec3 . sec4 . sec5 ."; }

.rainbow {
  grid-area: rainbow;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple); }

.sec-1 {
  grid-area: sec1;
  margin: 5px;
  padding: 4px; }

.sec-2 {
  display: grid;
  grid-area: sec2;
  margin: 5px;
  padding: 4px; }

.sec-3 {
  grid-area: sec3;
  margin: 5px;
  padding: 4px;
  align-items: center; }

.sec-4 {
  grid-area: sec4;
  margin: 5px;
  padding: 4px; }

.sec-5 {
  grid-area: sec5;
  margin: 5px;
  padding: 4px; }

section iframe {
  width: 200px;
  height: 300px;
  padding: 2px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }

.cover {
  width: 200px;
  height: 300px;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }

main {
  background-image: url("../assets/imagenes/white-wall.jpg");
  background-size: 100% 100%; }
  main p {
    text-align: justify; }
  main .grid-main-p {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "rainbow rainbow rainbow" ". 1 ." "2 . ." "3 3 3"; }
  main .titulo {
    grid-area: 1; }
  main .subtitulo {
    grid-area: 2; }
  main .tapas {
    grid-area: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1 auto;
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 15px; }
  main .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: 500px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #3E2C41;
    border-radius: 1%; }

.card::-webkit-scrollbar {
  width: 7px; }

.card::-webkit-scrollbar-thumb {
  background-color: #B2B2B2;
  border-radius: 20px; }

footer ul li {
  list-style: none; }
  footer ul li a {
    text-decoration: none;
    color: black; }

footer .logo {
  grid-area: logo;
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.grid-footer {
  background-color: #B2B2B2;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  grid-template-areas: "fot1 . fot2 . fot3";
  align-items: center;
  justify-content: space-around; }

.fot-1 {
  grid-area: fot1; }

.fot-2 {
  grid-area: fot2; }
  .fot-2 a {
    font-family: "Poppins", sans-serif;
    font-size: 12px; }

.fot-3 {
  grid-area: fot3; }

.icon {
  width: 40px;
  height: 40px; }

.card-l ul {
  width: 200px;
  height: 90px;
  border-radius: 4px;
  background: #B2B2B2;
  display: flex;
  gap: 5px;
  padding: .4em; }

.card-l li {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #B2B2B2;
  border: 1px solid #3E2C41;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-l li:hover {
  flex: 4; }

.card-l a {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  color: black;
  letter-spacing: .1em; }

.card-l a:hover {
  transform: rotate(0); }

.card-f {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 150px; }

.card-f::before, .card-f::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1; }

.card-f::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #444444; }

.card-f::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #444444; }

.card-f:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-f:hover span {
  opacity: 0;
  z-index: -3; }

.card-f:hover::before {
  opacity: 0.5;
  transform: translateY(-100%); }

.card-f:hover::after {
  opacity: 0.5;
  transform: translateY(100%); }

.card-f span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2; }

.card-f .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s; }

.card-f .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1); }

.card-f .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear; }

@keyframes bounce_613 {
  40% {
    transform: scale(1.4); }
  60% {
    transform: scale(0.8); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.header-b {
  background-color: #20262E;
  width: 100%;
  height: 100%; }

nav img {
  border-radius: 50%;
  width: 80px;
  height: 80px; }

nav ul li a {
  text-decoration: none;
  color: #F2F1F0;
  padding: 5px;
  border-radius: 35%; }
  nav ul li a img:hover {
    background-color: #E9D5DA;
    border-radius: 30%;
    padding: 5px; }
  nav ul li a img {
    background-color: #F2F1F0;
    border-radius: 30%;
    padding: 5px;
    width: 40px;
    height: 40px; }

main {
  background-image: url("../assets/imagenes/white-wall.jpg");
  background-size: 100% 100%; }

.toggler-c {
  background-color: #F2F1F0;
  border-radius: 20%; }

@keyframes dance6123 {
  to {
    background-position: var(--width); } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #1b1b1b;
  padding: 10px 30px;
  margin: 10px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5); }

.btn:active {
  transform: translateY(-3px); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s; }

.btn:hover::after {
  background-color: #dc94e2;
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0; }

@media (max-width: 1024px) {
  .grid {
    display: flex;
    justify-content: space-evenly; }
  .nav {
    display: flex;
    flex-wrap: wrap; }
    .nav ul {
      display: flex;
      flex-wrap: wrap; }
      .nav ul li {
        justify-content: space-evenly; } }

@media (max-width: 991px) {
  .nav-item {
    display: flex;
    justify-content: center; }
  .card::-webkit-scrollbar:horizontal {
    width: 5px; }
  .cover {
    width: 125px;
    height: 200px; }
  section iframe {
    width: 125px;
    height: 200px; } }

@media (max-width: 768px) {
  .grid {
    display: flex;
    justify-content: space-evenly; }
  .nav {
    display: flex;
    flex-wrap: wrap; }
    .nav ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 18px; }
  p {
    font-size: 14px; }
  .grid-main {
    background-image: url("../assets/imagenes/white-wall.jpg");
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "rainbow rainbow rainbow rainbow rainbow" ". sec1 sec1 sec1 ." "sec2 sec2 sec2 sec2 sec2" ". sec3 sec4 sec5 ." ". sec3 sec4 sec5 ."; }
  .grid-main-p {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    grid-template-areas: "rainbow" "1" "2" "3 3 3"; }
  .rainbow {
    height: 20px; }
  .tapas {
    flex-direction: column; }
  .cover {
    width: 115px;
    height: 190px; }
  section iframe {
    width: 115px;
    height: 190px; }
  .card {
    height: 30px;
    padding: 10px; }
  .icon {
    width: 30px;
    height: 30px; }
  .grid-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .fot-2 ul {
    display: flex;
    gap: 5px; } }

@media (max-width: 437px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .logo {
    width: 50px;
    height: 50px; }
  .nav ul {
    display: flex;
    flex-wrap: wrap; }
    .nav ul li img {
      background-color: #F2F1F0;
      border-radius: 30%;
      padding: 5px;
      width: 30px;
      height: 30px; }
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 14px; }
  p {
    font-size: 10px; }
  .grid-main {
    background-image: url("../assets/imagenes/white-wall.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .cover {
    width: 150px;
    height: 215px; }
  section iframe {
    width: 150px;
    height: 215px; }
  .card {
    height: 20px;
    padding: 10px; }
  section iframe {
    width: 150px;
    height: 200px; }
  .icon {
    width: 30px;
    height: 30px; }
  .grid-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .fot-2 a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px; }
  .titulo-c {
    font-size: 30px; }
  .card-l a {
    font-size: 9.5px; }
  .card-f {
    height: 40px;
    width: 120px; } }

@media (max-width: 320px) {
  main h1 {
    font-size: 35px; }
  main h2 {
    font-size: 13px; }
  p {
    font-size: 8.5px; }
  .cover {
    width: 100px;
    height: 150px; }
  section iframe {
    width: 100px;
    height: 150px; }
    section iframe .fot-c a {
      font-size: 13px; }
    section iframe .titulo-c {
      font-size: 30px; } }
