@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*font-family: 'Poppins', sans-serif;
font-family: 'Noticia Text', serif;
colors: #F2F1F0 #5C468C
 */
body header {
  background-color: #383838;
  width: 100%;
  height: 100%;
  padding: 2px; }
  body header .nav-wraper {
    width: 100%;
    padding: 1rem; }
  body header nav {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: none;
    padding: 1rem 1.5rem; }
  body header ul {
    list-style: none;
    display: flex;
    gap: 2rem; }
    body header ul li a {
      text-decoration: none;
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 18px; }
      body header ul li a:hover {
        font-size: 20px;
        color: black;
        padding: 2px;
        background-color: whitesmoke;
        padding: 4px;
        border-radius: 5%; }

nav #toggle, nav label {
  display: none; }

.logo {
  grid-area: logo;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 4px; }
  .logo:hover {
    transform: scale(1.2); }

body::-webkit-scrollbar {
  width: 7px; }

body::-webkit-scrollbar-thumb {
  background-color: #B2B2B2;
  border-radius: 20px; }

main {
  background-color: #F2F2F2; }
  main h1 {
    font-family: "Noticia Text", serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-align: center; }
  main p {
    font-family: "Poppins", sans-serif; }
  main h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 2px;
    margin: 20px; }
  main h3 {
    font-family: "Poppins", sans-serif;
    font-size: 27px;
    text-align: center;
    margin: 20px; }
  main h4 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px; }

.banner-index {
  background-image: url("../assets/imagenes/lgbtq.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  height: 400px; }

.rainbow {
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple); }

.container {
  row-gap: 15px; }

.carrousel {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  margin: auto;
  margin-top: 25px;
  padding: 5px;
  max-width: 1000px;
  width: 95%;
  height: 300px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  box-shadow: #26394d 0px 20px 30px -10px;
  border-radius: 9px; }
  .carrousel h4 {
    text-align: center; }
  .carrousel img {
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    padding: 5px; }
  .carrousel a {
    display: flex;
    flex-direction: row;
    text-decoration: none; }

.carrousel img:hover {
  transform: scale(1.2);
  opacity: 2;
  filter: contrast(120%); }

.cover {
  width: 170px;
  height: 230px;
  padding: 2px; }

section::-webkit-scrollbar {
  width: 0.5px;
  opacity: 0.5; }

section::-webkit-scrollbar-thumb {
  width: 0.5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px; }

main p {
  text-align: justify;
  font-size: 16px; }

main h2 {
  font-size: 25px; }

.banner-les, .banner-gay, .banner-trans, .banner-ingles {
  background-image: url("../assets/imagenes/mujeres.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  height: 400px; }

.banner-text {
  color: #FEFBF3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: none;
  background-color: rgba(0, 0, 0, 0.5); }

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  background-color: #FEFBF3;
  border-radius: 10%;
  background-color: rgba(66, 38, 62, 0.2); }

.card img {
  width: 150px;
  height: 200px;
  object-fit: contain;
  transition: 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19); }

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 5px; }
  .card-content h5 {
    font-size: 20px;
    text-align: center; }

.card a {
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 12px; }

.banner-gay {
  background-image: url("../assets/imagenes/beso.jpg"); }

.banner-trans {
  background-image: url("../assets/imagenes/they3.jpg"); }

.banner-ingles {
  background-image: url("../assets/imagenes/libros.jpg"); }

.card-sinopsis-1, .card-sinopsis-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 15px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  width: 95%; }
  .card-sinopsis-1 h5, .card-sinopsis-2 h5 {
    font-size: 22px; }
  .card-sinopsis-1 p, .card-sinopsis-2 p {
    font-size: 15px; }

.card-sinopsis-2 {
  flex-direction: row-reverse; }

.cover-sinopsis {
  width: 120px;
  height: 170px;
  padding: 5px; }

button {
  font-size: 20px;
  background-color: black;
  color: white;
  width: 45px;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
  position: fixed; }

@keyframes bounce_513 {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1); }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); } }

footer ul li {
  list-style: none; }
  footer ul li a {
    text-decoration: none;
    color: white; }

footer .logo {
  grid-area: logo;
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.grid-footer {
  background-color: #066163;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  grid-template-areas: "fot1 . fot2 . fot3";
  align-items: center;
  justify-content: space-between; }

.fot-1 {
  grid-area: fot1; }

.fot-2 {
  grid-area: fot2; }
  .fot-2 a {
    font-family: "Poppins", sans-serif;
    font-size: 12px; }

.fot-3 {
  grid-area: fot3; }

.icon {
  width: 40px;
  height: 40px; }

.list-footer ul {
  width: 200px;
  height: 90px;
  border-radius: 4px;
  background: #066163;
  display: flex;
  gap: 5px;
  padding: .4em; }

.list-footer li {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #066163;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; }

.list-footer li:hover {
  flex: 4; }

.list-footer a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  color: white;
  letter-spacing: .1em; }

.list-footer a:hover {
  transform: rotate(0); }

.social {
  position: relative;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 140px; }

.social::before, .social::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1; }

.social::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #383838; }

.social::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #383838; }

.social:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.social:hover span {
  opacity: 0;
  z-index: -3; }

.social:hover::before {
  opacity: 0.5;
  transform: translateY(-100%); }

.social:hover::after {
  opacity: 0.5;
  transform: translateY(100%); }

.social span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2; }

.social .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s; }

.social .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1); }

.social .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear; }

@keyframes bounce_613 {
  40% {
    transform: scale(1.4); }
  60% {
    transform: scale(0.8); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@media (max-width: 1024px) {
  main h2 {
    font-size: 18px; }
  main h3 {
    font-size: 24px; }
  main p {
    font-size: 12px; } }

@media (max-width: 768px) {
  main h3 {
    font-size: 18px; }
  main h1 {
    font-size: 50px; }
  main h2 {
    font-size: 16px; }
  main h3 {
    font-size: 21px; }
  main p {
    font-size: 14px; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
    nav .menu ul {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0; }
  nav label {
    display: inline-flex;
    color: #F2F1F0; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  .banner-index {
    background-size: 100% 100%;
    height: 300px;
    padding: 2px; }
  .cover {
    width: 115px;
    height: 135px;
    padding: 0.5px; }
  .icon {
    width: 30px;
    height: 30px; }
  .banner-les, .banner-gay, .banner-trans, .banner-ingles {
    height: 300px;
    padding: 4px; }
  .card-container {
    padding: 2px; }
  .card {
    margin-bottom: 5px; }
  .card img {
    width: 120px;
    height: 180px; }
  .card-content h5 {
    font-size: 18px;
    text-align: center; }
  .card-sinopsis-1, .card-sinopsis-2, .card-sinopsis-2 {
    font-size: 14px; } }

@media (max-width: 738px) {
  main h2 {
    font-size: 16px; }
  main h3 {
    font-size: 18px; }
  main h4 {
    font-size: 16px; }
  .card img {
    width: 120px;
    height: 170px; }
  .card-sinopsis-1, .card-sinopsis-2 {
    font-size: 8px;
    flex-direction: column-reverse;
    overflow: auto; }
    .card-sinopsis-1 h5, .card-sinopsis-2 h5 {
      font-size: 19px; }
  .card-sinopsis-2 {
    font-size: 8px;
    flex-direction: column-reverse; }
    .card-sinopsis-2 h5 {
      font-size: 19px; }
  .cover-sinopsis {
    width: 90px;
    height: 130px;
    padding: 5px; } }

@media (max-width: 448px) {
  main h1 {
    font-size: 45px; }
  main h2 {
    font-size: 15px; }
  main h3 {
    font-size: 17px; }
  main h5 {
    font-size: 15px; }
  .banner-index {
    background-size: 100% 100%;
    height: 200px;
    padding: 2px; }
  .banner-les, .banner-gay, .banner-trans, .banner-ingles {
    background-size: 100% 100%;
    height: 200px;
    padding: 2px; }
  .banner-gay {
    background-size: 100% 100%;
    height: 200px;
    padding: 2px; }
  .card-content h5 {
    font-size: 12px; }
  .card-content p {
    font-size: 10px; }
  .card a {
    font-size: 10px; }
  .grid-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .fot-2 a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px; }
  .list-footer a {
    font-size: 9.5px; } }

@media (max-width: 320px) {
  main h1 {
    font-size: 35px; }
  main h2 {
    font-size: 12px;
    padding: 2px; }
  main h3 {
    font-size: 16px; }
  main h5 {
    font-size: 14px; }
  main p {
    padding: 4px; }
  .banner-index {
    background-size: 100% 100%;
    height: 100px;
    padding: 2px; }
  .banner-les, .banner-gay, .banner-trans, .banner-ingles {
    background-size: 100% 100%;
    height: 150px;
    padding: 2px; }
  .banner-gay {
    background-size: 100% 100%;
    height: 150px;
    padding: 2px; }
  .banner-trans {
    background-size: 100% 100%;
    height: 150px;
    padding: 2px; }
  .banner-ingles {
    background-size: 100% 100%;
    height: 150px;
    padding: 2px; }
  .card img {
    width: 100px;
    height: 120px; }
  .card-sinopsis-1, .card-sinopsis-2 {
    font-size: 8px;
    flex-direction: column-reverse;
    overflow: auto; }
    .card-sinopsis-1 h5, .card-sinopsis-2 h5 {
      font-size: 15px; }
    .card-sinopsis-1 p, .card-sinopsis-2 p {
      font-size: 12px; }
  .card-sinopsis-2 {
    font-size: 8px;
    flex-direction: column-reverse; }
    .card-sinopsis-2 h5 {
      font-size: 15px; }
    .card-sinopsis-2 p {
      font-size: 12px; }
  .card a {
    font-size: 9px; }
  .grid-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .fot-2 a {
    font-family: 'Poppins', sans-serif;
    font-size: 13px; }
  .list-footer a {
    font-size: 8.5px; } }
