@mixin grid($columns, $rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}
@mixin sec-index($area, $margin, $padding){
    grid-area: $area;
    margin: $margin;
    padding: $padding;
}