main{
    background-image: url("../assets/imagenes/white-wall.jpg");
    background-size: 100% 100%;
    h1{
        font-family: $fuente-titulos;
        font-size: 60px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-self: center;
    }
    p{
        font-family: $fuente-texto;
        text-align: center;
    }
    h2{
        font-family: $fuente-texto;
        font-size: 20px;
        text-align:justify;
        padding: 2px;
    }
    h3{
        font-family: $fuente-texto;
        font-size: 27px;
        grid-area: div1;
        text-align: center;
    }
    h4{
        font-family: $fuente-texto;
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
    }
}
.bg-h1{
    background-image: url('../assets/imagenes/lgbtq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.grid-main{
    width: 100%;
    gap:15px 10px;
    grid-template-columns: 3,1fr;
    grid-template-rows: 7, auto;
    grid-template-areas:
    "rainbow rainbow"
    ". sec1 ."
    ". sec2 ."
    ". sec3 ."
    ". sec4 ."
    ". sec5 ."
    ". sec6 .";
}
.rainbow{
    grid-area: rainbow;
    width: 100%;
    height: 20px;
    background: linear-gradient(to right,red,orange,yellow,green,blue,purple);
}
.sec-1{
    @include sec-index(sec1, 5px, 4px);
    grid-area: sec1;
}
.sec-2{
    @include sec-index(sec2, 5px, 4px);
    grid-area: sec2;
}
.sec-3{
    grid-area: sec3;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
}

section::-webkit-scrollbar{
    width: 0.5px;
    opacity: 0.5;
}
section::-webkit-scrollbar-thumb{
    width: 0.5px;
    background-color:rgba($color: #000000, $alpha: 0.3);
    border-radius: 20px;
}
.carrousel{
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
        img{
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
        }
}

.sec-4{
    grid-area: sec4;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
}

.sec-5{
    grid-area: sec5;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
}
.sec-6{
    grid-area: sec6;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
}
section img:hover{
    opacity: 2;
    filter: contrast(120%);
}
.cover{
    width: 100px;
    height: 230px;
    padding: 1px;
}