main{
    background-color: $background-main;
    h1{
        font-family: $fuente-titulos;
        font-size: 60px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    p{
        font-family: $fuente-texto;
    }
    h2{
        font-family: $fuente-texto;
        font-size: 18px;
        text-align:justify;
        padding: 2px;
        margin: 20px;;
    }
    h3{
        font-family: $fuente-texto;
        font-size: 27px;
        text-align: center;
        margin: 20px;
    }
    h4{
        font-family: $fuente-texto;
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
    }
}
.banner-index{
    background-image: url('../assets/imagenes/lgbtq.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    height: 400px;
}
.rainbow{
    width: 100%;
    height: 20px;
    background: linear-gradient(to right,red,orange,yellow,green,blue,purple);
}
.container{
    row-gap: 15px;
}
.carrousel{
    @include flex(none, center, center, none, none);
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    max-width: 1000px;
    width: 95%;
    height: 300px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 9px;
        h4{
            text-align: center;
        }
        img{
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
        padding: 5px;
        }
        a{
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
}
.carrousel img:hover{
    transform: scale(1.2);
    opacity: 2;
    filter: contrast(120%);
}
.cover{
    width: 100px;
    height: 230px;
    padding: 1px;
}
section::-webkit-scrollbar{
    width: 0.5px;
    opacity: 0.5;
}
section::-webkit-scrollbar-thumb{
    width: 0.5px;
    background-color:rgba($color: #000000, $alpha: 0.3);
    border-radius: 20px;
}