main{
    p{
        text-align: justify;
        font-size: 16px;
    }
}
.banner-les{
    background-image: url("../assets/imagenes/mujeres.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    height: 400px;
}
.banner-text{
    color:#FEFBF3;
    @include flex(column, center, center, wrap, none);
    background-color: rgba(0,0,0,0.5)
}
.card-container{
    @include flex(row, space-around, none, wrap, 15px);
    padding: 5px;
}
.card{
    @include flex(column, center, center, wrap, 10px);
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: #FEFBF3;
    border-radius: 10%;
    background-color: rgba(66, 38, 62, 0.2)
}
.card img{
    width: 150px;
    height: 200px;
    object-fit: contain;
    transition: 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
}
.card-content{
    @include flex(column, center, center, none, 5px);
        h5{
            font-size: 20px;
            text-align: center;
        }
}
.card a{
    text-decoration: none;
    color: #000000;
    font-family: $fuente-texto;
    font-size: 12px;
}
.banner-gay{
    @extend .banner-les;
    background-image: url("../assets/imagenes/beso.jpg");
}
.banner-trans{
    @extend .banner-les;
    background-image: url("../assets/imagenes/they.jpg");
}
.banner-ingles{
    @extend .banner-les;
    background-image: url("../assets/imagenes/libros.jpg");
}

// STYLE DE "SINOPSIS"
.card-sinopsis-1{
    @include flex(row, center, center, none, 15px);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 1%;
    width: 95%;
    h5{
        font-size: 22px;
    }
    p{
        font-size: 15px;
    }
}
.card-sinopsis-2{
    @extend .card-sinopsis-1;
        flex-direction: row-reverse;
}
.cover-sinopsis{
    width: 120px;
    height: 170px;
    padding: 5px;
}
button {
    font-size: 20px;
    background-color: rgba($color: #000000, $alpha: 1.0);    
    color: white;
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid #e7eae8;
    border-radius: 8px;
    cursor: pointer;
    animation: bounce_513 1s infinite;
    position: fixed;
}

@keyframes bounce_513 {
    0%,
        100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

