@media (max-width:991px){
    .nav-item{
        display: flex;
        justify-content: center;
    }
    .card::-webkit-scrollbar:horizontal {
        width: 5px;
    }
    .cover{
        width: 115px;
        height: 190px;
    }
}
