@media (max-width:320px){
    main{
        h1{
            font-size: 35px;
        }
    }
    .fot-c{
        a{
            font-size: 13px;
        }
        
    }
    .titulo-c{
        font-size: 30px;
    }
}