@media (max-width:320px){
    main{
        h1{
            font-size: 35px;
        }
        h2{
            font-size: 12px;
            padding: 2px;
        }
        h3{
            font-size: 16px;
        }
        h5{
            font-size: 14px;
        }
        p{
            padding: 4px;
        }
    }
    .banner-index{
        background-size: 100% 100%;
        height: 100px;
        padding: 2px;
    }
    .banner-les{
        background-size: 100% 100%;
        height: 150px;
        padding: 2px;
    }
    .banner-gay{
        background-size: 100% 100%;
        height: 150px;
        padding: 2px;
    }
    .banner-trans{
        background-size: 100% 100%;
        height: 150px;
        padding: 2px;
    }
    .banner-ingles{
        background-size: 100% 100%;
        height: 150px;
        padding: 2px;
    }
    .card img{
        width: 100px;
        height: 120px;
    }
    .card-sinopsis-1{
        font-size: 8px;
        flex-direction: column-reverse;
        overflow: auto;
        h5{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
    }
    .card-sinopsis-2{
        font-size: 8px;
        flex-direction: column-reverse;
        h5{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
    }
    .card a{
        font-size: 9px;
        }
    .grid-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .fot-2 a{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    .list-footer a {
        font-size: 8.5px;
    }
}
